{{ define "templates/cloud_tags.tmpl" }}

<div class="card">
  <div id="cloud">
    <ul class="cloud" role="navigation" aria-label="Webdev word cloud">
      {{range $tag, $count := .tag_weight}}
        <li><a href="/tags/{{ $tag }}" data-weight="{{ $count }}">{{ $tag }}</a></li>
      {{ end }}
    </ul>
  </div>
</div>

{{end}}
