{{ define "templates/header.tmpl" }}

<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/index.css">
  <script src="/assets/script.js"></script>
  <title>*UCK OFF</title>  
</head>
<body>

<div class="header">
  <h1>Ah! I really didn't expect you to be here.</h1>
  <p>Since you are here, i am glad you made this far.</p>
</div>

<div class="topnav">
  <a href="https://blog.tikejhya.com">~</a>
  <a target="_blank" href="https://github.com/tikejhy">whoami</a>
  <a target="_blank" href="https://ip.tikejhya.com">ifconfig</a>
  <a href="javascript:refreshWindow();">clear</a>
  <a href="javascript:closeWindow();" style="float:right">Kill -9</a>
</div>

</body>
</html>

{{end}}
