{{ define "templates/right_column.tmpl" }}
  <div class="rightcolumn">
     <div class="card">
      <h2>About Me</h2>
        <img src="https://cdnb.artstation.com/p/assets/images/images/001/503/167/large/max-gavr-los-mariarchi.jpg" alt="Cowboy From Hell">
        <div id="text">Cowboy from hell</div>
     </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>
{{ end }}
